
.heading {
    font-size: 40px;
    font-weight: 600;
    color: #2c444e;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading::after {
    content: "";
    width: 450px;
    height: 4px;
    border-radius: 1px;
    bottom: -20px;
    background-color: #adb9be;
    position: absolute;
}

.form_container {
    display: flex;
    margin-top: 45px;
    width: 800px;
    height: 450px;
    background-color: white;
    box-shadow: 3px 4px 36px -6px rgba(0,0,0,0.4);
    border-radius: 50px;
}


.left {
    flex: 1.5;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.img {
    width: 160%;
    position: absolute;
    left: -60px;
    top: -50px;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.from_heading {
    font-size: 25px;
    font-weight: 400;
    color: #2c444e;
    margin-bottom: 20px;
}

.profile_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.input {
    width: 320px;
    height: 35px;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border: 1px solid #2c444e;
    border-radius: 2px;
    font-size: 13px;
}

.btn {
    font-size: 18px;
    font-weight: 500;
    padding: 12px 25px;
    color: white;
    background-color: #ffc801;
    border-radius: 12px;
    margin: 10px 0 0 0;
    outline: none;
    border: none;
    cursor: pointer;
}

.text {
    font-size: 14px;
    color: #2c444e;
    margin: 5px 0;
    padding: 0;
}

.text > a{
    font-size: 16px;
    font-weight: 500;
    color: #ffc801;
}
main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.statusdelivered {
    padding: 0.4rem 0.5rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #86e49d;
    color: #006b21;
}

.statuscancelled {
    padding: 0.4rem 0.5rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #d893a3;
    color: #b30021;
}

.statuspending {
    padding: 0.4rem 0.5rem;
    border-radius: 2rem;
    text-align: center;
    color: #412c02;
    background-color: #ebc474;
}

.statusshipped {
    padding: 0.4rem 0.5rem;
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.34)
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Other styles for email details */
.emailDetails {
    /* Add styles as needed */
}

.subject {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.sender,
.date,
.body {
    /* Add styles as needed */
}

/* CSS */
.button18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button18:hover,
.button18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

/* CSS */
.button39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button39:hover {
  background-color: rgb(249,250,251);
}

.button39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button39:focus-visible {
  box-shadow: none;
}

/* CSS */
.button9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button9:disabled {
  cursor: default;
}

.button9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.searchContainer{
    display: flex;
  flex-wrap: wrap;
  background: #fff5;
  gap: 10px;
  align-items: center;
}
.searchInput,
.inputFields,
.statusSelect,
.sortSelect,
.startDateInput,
.endDateInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sortLabel,
.labelStyles,
.dateLabel {
  margin-right: 5px;
  font-weight: bold;
}
/* In your styles.module.css file or in a separate CSS file */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modalContent label {
    display: block;
    margin-bottom: 8px;
  }
  
  .modalContent input,
  .modalContent button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Example styles for vertical dots and popup menu */
.verticaldots {
    position: relative;

  }
  
  .dotsbutton {
    font-size: larger;
    font-weight: bolder;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .popupmenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px;
    z-index: 1;
  }
  
  .verticaldots:hover .popup-menu {
    display: block;
  }
  /* ButtonGroup.module.css */

.buttonContainer {
    position: relative;
    width: fit-content;
  }
  
  .buttonGroup {
    position: relative;
    display: inline-block;
  }
  
  .hiddenButtons {
 
    display: none;

  }
  
  .hiddenButtons.visible {
    display: block;
  }
  
  .hiddenButtons button {
    display: block;
    margin-bottom: 5px;
  }
  
  .showOnHover {
    transition: opacity 0.3s ease-in-out;
  }
  
  .showOnHover.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  